.navall{
	font-family: 'Acme', sans-serif;
	font-size: 20px;
	
}
.navbar1{
	font-size: 30px;
	font-family: 'Acme', sans-serif;
}

.navbar{
    background: linear-gradient(to bottom, #2180ed, #F64C72);
}

