img{
  width: 270px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.abtcards{
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  align-content: center;
  padding-bottom: 30px;
}
.abtcard{
  min-width: 250px;
}
.abtusdetails{
  margin-left: auto;
  margin-right: 30px;
  align-content: space-between;
}
